* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 5%;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    line-height: 1.5;
    background-color: rgb(209, 171, 167);
    background-image: url("images/caro-album-cover-crop.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: black;
  }
  
  img {
    max-width: 110px;
    border-radius: 100%;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  nav a {
    display: block;
    border-radius: 2rem; 
    padding: 0.5rem;
    margin: 1rem;
    text-align: center;
    color: black;
    background-color: rgba(209, 171, 167, 0.6);
  }
  
  nav a:hover {
    color: black;
    /* box shadow: top bottom blur color */
    box-shadow: 6px 6px 10px rgb(209, 171, 167);
    transition: 0.4s;
  }
  
  div {
    text-align: center;
  }
  
  /* Java Script */
  #panel, #panel-2, #panel-3, #flip, #flip-2, #flip-3 {
    border: solid 1px #c3c3c3;
    border-radius: 2rem;
    overflow: hidden;
  }
  #panel, #panel-2, #panel-3 {
    display: none;
    background-color: rgb(209, 171, 167);
    color: black;
  }
  
  .featured {
    border: 5px solid rgb(181, 206, 175);
  }
  
  .featured:hover {
    box-shadow: 6px 6px 10px rgb(181, 206, 175);
  }
  
  .featured-2 {
    border: 5px solid rgb(181, 206, 175);
  }
  
  h3 {
    font-family: 'Homemade Apple', cursive;
    font-size: 2rem;
  }
  
  h5 {
    font-family: 'Homemade Apple', cursive;
    font-size: 1.2rem;
  }
  
   .copyright {
      color: grey;
      text-align: center;
      font-size: 0.5rem;
      margin-top: 1rem;
      padding-top: 1rem;
    }

    #yt-imawake { 
      height: 43.2vw;
    }

    /* Problem: VIDEO BREAKING ITS CONTAINER: 
    Right now your iframe has 2 attributes for width and height and these are set in px. This means if they are in a container that is smaller than those numbers it's going to break out. so instead of giving it a width in px try giving it a width of 100%.
Now this will fix your breaking out of its container problem but can lead to a black bar problem. (some people think it's a problem and some don't care). to fix this takes a little more effort first we need to remove the height attribute. Next, we want to give it a class or an id that we can style and give that style a height in vw (we couldn't do this on the attribute because that only accepts px and %). I found for the I'm a wake video that a height: 43.2vw; worked fairly well if you also changed the padding on panels to 5% (this has to do with mocking px, % and vw ). Give that a go and let me know how you go :D
*/